.admin-container {
  height: 100vh;
  display: flex;
  flex-direction: column; 
}

.sidenav-container {

  flex: 1; 
  height: 100%; 
}

.sidenav {
  width: 250px;
}

.main-content {
  padding: 20px;
}