.greeting {
  margin-left: 16px;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  
  button, mat-icon {
    color: var(--mat-sys-on-primary);
  }
}